@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@keyframes SlideinLeft { 0% { transform: translateX(-100%); }
  100% { transform: translateX(0%); } }

@keyframes SlideinRight { 0% { transform: translateX(200%); }
  100% { transform: translateX(0%); } }

@keyframes SlideinTop { 0% { transform: translateY(-100%); }
  100% { transform: translateY(0%); } }

@keyframes SlideinBottom { 0% { transform: translateY(100%); }
  100% { transform: translateY(0%); } }

.cli .grid { grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(2, 1fr); }

@media (max-width: 500px) { .cli .grid { grid-template-columns: 1fr; } }

@media (max-width: 768px) { .cli .grid { grid-template-columns: 1fr; } }

@media (max-width: 500px) { .cli .grid h3 { font-size: 1.1rem; } }

.cli samp { width: 19rem; background-color: #002240; height: 2rem; text-align: center; color: white; font-weight: bold; font-size: 1.1rem; margin-left: 3rem; }

.cli .grid > *:first-child { grid-column: 1 / span 2; grid-row: 1 / span 2; }

@media (max-width: 768px) { .cli .grid > *:first-child { grid-column: 1; grid-row: 1; margin: 0 auto; } }

@media (max-width: 500px) { .cli .grid > *:first-child { margin: 0 auto; } }

.stats { padding-top: 110px; animation: SlideinBottom 1s ease-in; }

.stats .grid-3 { grid-template-columns: repeat(3, 1fr); }

.stats .grid-3 div { margin-top: 2rem; }

.stats .stats-heading { max-width: 444px; margin: auto; }

.stats h2 { font-size: 33px; }

@media (max-width: 500px) { .stats h2 { font-size: 25px; } }

.stats p { font-weight: bold; font-size: 20px; }

.features-head img, .docs-head img { width: 200px; justify-self: flex-end; }

@media (max-width: 768px) { .features-head, .features-sub-head, .docs-head { text-align: center; } }

.features-head img, .features-sub-head img, .docs-head img { justify-self: center; }

.features-sub-head img { width: 300px; justify-self: flex-end; }

@media (max-width: 768px) { .features-sub-head img { justify-self: center; } }

.features-main .grid > *:first-child, .features-main .grid > *:nth-child(4) { grid-column: 1 / span 3; justify-self: flex-start; }

.features-main .grid > *:nth-child(2) { grid-column: 1 / span 2; }

@media (max-width: 768px) { .features-main .grid > *:nth-child(2) { grid-column: 1; } }

@media (max-width: 1200px) { .features-main .grid > *:nth-child(2) { grid-column: 1 / span 3; } }

.features-main .grid > *:nth-child(3), .features-main .grid > *:nth-child(2), .features-main .grid > *:first-child { margin: 0.8rem 0; height: 7rem; }

@media (max-width: 768px) { .features-main .grid > *:nth-child(3), .features-main .grid > *:nth-child(2), .features-main .grid > *:first-child { font-size: 9px; width: 100%; } }

.features-main *.card i { margin-right: 22px; font-size: 1.6rem; }

@media (max-width: 500px) { .features-main *.card i { margin-right: 0.5rem; font-size: 1.3rem; } }

.docs-main h3 { margin: 20px 0; }

.docs-main .grid { grid-template-columns: 1fr 2fr; align-items: flex-start; }

.docs-main nav li { font-size: 16px; padding-bottom: 5px; margin-bottom: 5px; border-bottom: 1px solid #ccc; }

.docs-main nav li:hover { font-weight: bolder; }

footer { position: relative; bottom: -110%; background-color: #ff4c16; min-width: 100vw; color: white; font-weight: bold; }

@media (max-width: 768px) { footer ul { display: flex; flex-direction: column; } }

footer ul a { font-weight: bold; }

@media (max-width: 768px) { footer .social { transform: translate(45%, 1.6rem); } }

@media (max-width: 500px) { footer .social { transform: translate(35%, 1rem); } }

footer a { margin: 1rem 15px; color: white; font-weight: bold; font-size: 1.15rem; }

.cloud .grid { grid-template-columns: 4fr 3fr; font-weight: bold; }

@media (max-width: 500px) { .cloud .grid h2 { font-size: 34px; } }

@media (max-width: 768px) { .cloud .grid h2 { font-size: 37px; } }

.showcase { height: 400px; background-color: #ff4c16; color: #fff; position: relative; }

.showcase-text { animation: SlideinLeft 1s ease-in; }

@media (max-width: 768px) { .showcase-text { animation: SlideinTop 1s ease-in; } }

@media (max-width: 768px) { .showcase { height: auto; } }

@media (max-width: 768px) { .showcase-text { text-align: center; margin-top: 3rem; } }

.showcase h1 { font-size: 38px; }

.showcase p { margin: 20px 0; font-weight: bold; }

.showcase .showcase-form { position: relative; top: 4.5rem; height: 345px; width: 355px; padding: 3.5rem; z-index: 4; justify-self: flex-end; animation: SlideinRight 1.2s ease-in; }

@media (max-width: 768px) { .showcase .showcase-form { justify-self: center; margin: auto; } }

.showcase .form-control { margin: 22px 2px; }

.showcase input[type="text"], .showcase input[type="email"] { border: 0; border-bottom: 2px solid #efefef; width: 100%; padding: 4px; font-size: 1rem; }

.showcase input[type="text"]:focus, .showcase input[type="email"]:focus { outline: none; }

.showcase::before, .showcase::after { content: ""; position: absolute; height: 7rem; bottom: -70px; right: 0; left: 0; background: white; transform: skewY(-2.4deg); }

.languages .card { text-align: center; transition: all 200ms ease-in-out; }

.languages .card:hover { transform: translateY(-15px); }

.languages .flex { display: flex; flex-wrap: wrap; flex-grow: 1; }

.languages h4 { font-size: 1.4rem; margin-bottom: 1rem; }

.navbar { background-color: #ff4c16; color: #fff; }

@media (max-width: 500px) { .navbar { height: 110px; } }

@media (max-width: 500px) { .navbar .flex { flex-direction: column; } }

.navbar ul { display: flex; }

@media (max-width: 500px) { .navbar ul { padding: 15px; background-color: rgba(0, 0, 0, 0.15); } }

.navbar a { color: white; padding: 10px; margin: 0 8px; transition: all 200ms ease-in-out; font-weight: bold; }

.navbar a:hover { border-bottom: 1px solid white; border-radius: 3%; }

.grid { display: grid; grid-template-columns: 2fr 1fr; justify-content: center; align-items: center; height: 100%; overflow: visible; }

@media (max-width: 768px) { .grid { grid-template-columns: 1fr; grid-template-rows: 1fr; } }

.alert { background-color: #d9d9d9; padding: 10px 15px; font-weight: bold; margin: 15px; }

.alert i { margin-right: 10px; }

.alert-success { background-color: #4acb4a; color: white; }

.alert-danger { background-color: #e3433d; }

.container { max-width: 1300px; margin: 0 auto; overflow: visible; padding: 0 0.34rem; }

.flex { display: flex; justify-content: space-between; align-items: center; height: 100%; }

.text-center { text-align: center; }

.my-1 { margin: 1rem 0; }

.my-2 { margin: 2rem 0; }

.my-3 { margin: 3rem 0; }

.my-4 { margin: 4rem 0; }

.my-5 { margin: 5rem 0; }

.m-1 { margin: 1rem; }

.m-2 { margin: 2rem; }

.m-3 { margin: 3rem; }

.m-4 { margin: 4rem; }

.m-5 { margin: 5rem; }

.py-1 { padding: 1rem 0; }

.py-2 { padding: 2rem 0; }

.py-3 { padding: 3rem 0; }

.py-4 { padding: 4rem 0; }

.py-5 { padding: 5rem 0; }

.p-1 { padding: 1rem; }

.p-2 { padding: 2rem; }

.p-3 { padding: 3rem; }

.p-4 { padding: 4rem; }

.p-5 { padding: 5rem; }

.bg-primary, .btn-primary { background-color: #ff4c16; color: white; }

.bg-secondary, .btn-secondary { background-color: #bc2c00; color: white; }

.bg-dark, .btn-dark { background-color: #333333; color: white; }

.bg-light, .btn-light { background-color: #d9d9d9; color: black; }

.text-primary, .text-primary { color: #ff4c16; }

.text-secondary, .text-secondary { color: #bc2c00; }

.text-dark, .text-dark { color: #333333; }

.text-light, .text-light { color: #d9d9d9; }

.sm { font-size: 1rem; }

.lead { font-size: 1.4rem; }

.md { font-size: 2rem; }

.lg { font-size: 3rem; }

.xl { font-size: 3.3rem; }

@media (max-width: 768px) { footer .grid { grid-template-columns: 1fr 28%; margin-right: 0.75rem; } }

.btn { display: inline-block; padding: 11px 20px; cursor: pointer; background: #ff4c16; border: none; color: white; border-radius: 6px; transition: all 200ms ease-in-out; }

.btn-outline { background-color: transparent; border: 1px solid white; font-weight: bold; }

.btn:hover { transform: scale(1.2); }

.btn-primary { background-color: #ff4c16; width: 8.5rem; font-weight: bold; }

.btn-secondary { background-color: #bc2c00; width: 8.5rem; font-weight: bold; }

.btn-dark { background-color: #333333; }

.card { background-color: #fff; border-radius: 11px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); padding: 22px; margin: 1rem; color: #3d3d3d; text-align: center; width: auto; }

@media (max-width: 768px) { .card h3 { font-size: 1rem; } }

@media (max-width: 500px) { .card h3 { font-size: 0.75rem; } }

.card img { max-width: 80px; }

* { margin: 0; padding: 0; box-sizing: border-box; }

body { display: block; height: 100%; width: 100vw; font-family: "Lato", sans-serif, monospace; line-height: 1.4; overflow-x: hidden; }

ul { list-style-type: none; }

a { text-decoration: none; color: #333; }

h1, h2 { font-weight: 300; line-height: 1.3; margin: 0.8rem; }

p { margin: 0.6rem; }

img { width: 100%; }

@media (max-width: 768px) { img { color: pink; } }

code, pre { background-color: #333; color: white; padding: 10px; }
