// RESPONSIVE SCREEN //
$mobile: 500px;
$tablet: 768px;
$pc: 1200px;

// COLORS //
$primaryColor: #ff4c16;
$secondaryColor: #bc2c00;
$darkColor: #333333;
$lightColor: #d9d9d9;
$successColor: #4acb4a;
$dangerColor: #e3433d;

// FONT COLORS //
$primaryFontColor: #fff;

// FONT FAMILY //
$fontFamilyPrimary: "Lato", sans-serif, monospace;

// ANIMATION //
$primaryAnimation: all 200ms ease-in-out;
